* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 10px;
}

button {
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(187, 186, 186);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(231, 231, 231);
  cursor: pointer;
}

button:active {
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 100%;
  align-items: center;
}

.input-form {
  display: flex;
  flex: column;
  flex-direction: column;
  align-items: center;
}

.positive {
  color: rgb(0, 178, 86);
}

.negative {
  color: red;
}

.list {
}

.row {
  position: relative;
  width: 100%;
  width: 80vw;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(205, 206, 207);
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
}

.row-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.del-button {
  padding: 8px;
  background-color: rgb(255, 166, 166);
  border: 1px solid rgb(187, 186, 186);
  border-radius: 0px;
}
